* {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(190,190,200);
    background-color: rgb(10,10,25);
}

#feed, table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

#feed table th{
    font-weight: bold;
}

.entry{
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(255,255,255);
}

#footer {
    text-align: center;
    width: 100%;
    bottom:0px;
    position: absolute;
}